*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    color: #fff;
    font-size: 100px;
    letter-spacing: 5px;
    
}